@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    color: #6B6B6B;
    background-color: #fff6f6;
    /*background-image: url("iphone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;*/
    margin-top: 1em;
}

.question {
    max-width: 14px;
    max-height: 14px;
    padding-left: 6px;
}

#info {
    position: relative;
    left: 76px;
    top: -20px;
    padding-left: 20px;
    transition: 0.5s;
    opacity: 0;
}

#info:hover {
    transition: 0.5s;
    opacity: 1;
}

#logo {
    width: inherit;
    height: inherit;
}

#arrowDown {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  position: relative;
  left: 49%;
  top: 4px;
}

#about {
    max-width: 30vw;
    width: 30vw;
    height: auto;
    position: fixed;
    top: 40px;
    left: 40px;
}

#aboutText {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

#detailAbout {
    max-width: 28vw;
    width: 28vw;
    height: auto;
    position: fixed;
    top: 100px;
    left: 40px;
    text-align: center;
    padding: 10px;
    transition: 0.5s;
    opacity: 0;
}

#detailAbout:hover {
    transition: 0.5s;
    opacity: 1;
}

#logo {
    max-width: 30vw;
    width: 30vw;
    height: auto;
    position: fixed;
    bottom: 30px;
    left: 30px;
}

#chatWidget {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-height: 90vh;
    max-width: 30vw;
    height: 2000px;
    width: 2000px;
}

#statsWidget {
    position: fixed;
    top: 30px;
    right: 30px;
    max-height: 88.5vh;
    max-width: 30vw;
    height: 2000px;
    width: 2000px;
    padding-left: 10px;
    padding-right: 10px;
}

a {
  transition: 0.3s;
  color: #ff5ce1;
}

a:hover {
  transition: 0.3s;
  color: #ffa0ed;
}

b {
  color: #FF5CA5;
}
